<div class="d-flex flex-column align-items-center">
  <div class="mt-5 mb-3 text-center">
    <h2>Irregular Form found</h2>
  </div>

  <h3><%= @verb.present_infinitive %></h3>

    <% labels = {
         0 => 'Active Indicative',
         6 => 'Passive Indicative',
         12 => 'Active Subjunctive',
         16 => 'Passive Subjunctive'
       } %>
    <% line_break_indices = [13, 15, 17, 19] %>
    <% persons = %w[first_person second_person third_person] %>
    <% bootstrap_colors = %w[
      table-secondary
      table-primary
      table-info
      table-danger
    ] %>
    <% color_idx = 0 %>

  <%= form_with url: create_forms_path, method: :post, local: true do |f| %>
    <input type='hidden' name='verb_id' value='<%= @verb.id %>'>

    <table class="table table-bordered border-black table-striped">
      <% @verb.conjugation_list.each_slice(6).each_with_index do |group, idx| %>
        <% row_class = bootstrap_colors[color_idx % bootstrap_colors.size] %>

        <% if labels[idx] %>
          <% color_idx += 1 %>
          <% row_class = bootstrap_colors[color_idx % bootstrap_colors.size] %>
          <tr class='<%= row_class %> border-black'>
            <th rowspan='2'><%= labels[idx] %></th>
            <th colspan='3'>Singular</th>
            <th colspan='3'>Plural</th>
          </tr>
          <tr class='<%= row_class %> border-black'>
            <% 6.times do |i| %>
              <th><%= persons[i % 3].humanize %></th>
            <% end %>
          </tr>
        <% elsif line_break_indices.include?(idx) %>
          <tr>
            <td colspan='1' class='<%= row_class %> border-black'>&nbsp;</td>
            <td colspan='6' class='border-black'>&nbsp;</td>
          </tr>
        <% end %>
        <tr>
          <th class='<%= row_class %> border-black'><%= group.first[:tense].humanize %></th>
          <% group.each_with_index do |form, local_idx| %>
            <% global_idx = idx * 6 + local_idx %>
            <% match = @conjugation_matches[global_idx] %>
            <% hidden_fields = {
              person: form[:person],
              number: form[:number],
              tense: form[:tense],
              voice: form[:voice],
              mood: form[:mood]
            } %>

            <td class="<%= match.nil? ? '' : (match ? 'table-success' : 'table-warning') %>">
              <%= text_field_tag "forms[#{global_idx}][text]", form[:text], class: "form-control form-control-sm" %>

              <% hidden_fields.each do |key, value| %>
                <%= hidden_field_tag "forms[#{global_idx}][#{key}]", value %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <div class="mt-3">
      <%= submit_tag 'All Forms corrected', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
